<a href="https://colab.research.google.com/github/BatenRahi/Run_Time_Error/blob/main/Data_Preprocessing_on_Irisdataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [173]:
import pandas as pd

In [174]:
iris=pd.read_csv("/content/Iris_Data.csv")
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

**Dataset Viewing**

In [175]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [176]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

**Handling Duplicate values**

In [177]:
duplicates = iris[iris.duplicated()]
print("Number of duplicate rows:", len(duplicates))

# Drop duplicates
df = iris.drop_duplicates()

# Verify that duplicates have been removed
duplicates = df[df.duplicated()]
print("Number of duplicate rows after removal:", len(duplicates))

Number of duplicate rows: 3
Number of duplicate rows after removal: 0

In [178]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

**Column Cleanup**

In [179]:
df = df.rename(columns={
    'sepal_length': 'sepalLength',
    'sepal_width': 'sepalWidth',
    'petal_length': 'petalLength',
    'petal_width': 'petalWidth',
    'species': 'TargetFeature'
})

# Verify column names
print(df.head())

   sepalLength  sepalWidth  petalLength  petalWidth TargetFeature
0          5.1         3.5          1.4         0.2   Iris-setosa
1          4.9         3.0          1.4         0.2   Iris-setosa
2          4.7         3.2          1.3         0.2   Iris-setosa
3          4.6         3.1          1.5         0.2   Iris-setosa
4          5.0         3.6          1.4         0.2   Iris-setosa

**DataFrame slicing**

In [180]:
# Slice based on rows using loc[]
slice1 = df.loc[10:20, ['sepalLength', 'petalWidth']]

# Slice based on rows using iloc[]
slice2 = df.iloc[10:20, 1:3]

print("Slice using loc[]:")
print(slice1)

print("Slice using iloc[]:")
print(slice2)
# Slice based on conditions using loc[]
slice3 = df.loc[df['petalLength'] > 1.5, ['sepalLength', 'TargetFeature']]

print("Slice using loc[] and condition:")
print(slice3)

Slice using loc[]:
    sepalLength  petalWidth
10          5.4         0.2
11          4.8         0.2
12          4.8         0.1
13          4.3         0.1
14          5.8         0.2
15          5.7         0.4
16          5.4         0.4
17          5.1         0.3
18          5.7         0.3
19          5.1         0.3
20          5.4         0.2
Slice using iloc[]:
    sepalWidth  petalLength
10         3.7          1.5
11         3.4          1.6
12         3.0          1.4
13         3.0          1.1
14         4.0          1.2
15         4.4          1.5
16         3.9          1.3
17         3.5          1.4
18         3.8          1.7
19         3.8          1.5
Slice using loc[] and condition:
     sepalLength   TargetFeature
5            5.4     Iris-setosa
11           4.8     Iris-setosa
18           5.7     Iris-setosa
20           5.4     Iris-setosa
23           5.1     Iris-setosa
..           ...             ...
145          6.7  Iris-virginica
146          6.3  Iris-virginica
147          6.5  Iris-virginica
148          6.2  Iris-virginica
149          5.9  Iris-virginica

[112 rows x 2 columns]

**Selecting & Extracting**

In [181]:
# Select a single column
sepal_length = df['sepalLength']

print("Selected column 'sepal_length':")
print(sepal_length)
# Select multiple columns
sepal_data = df[['sepalLength', 'sepalWidth']]

print("Selected columns 'sepalLength' and 'sepalWidth':")
print(sepal_data)
# Extract rows based on conditions
setosa = df.loc[df['TargetFeature'] == 'Iris-setosa']

print("Rows with TargetFeature 'Iris-setosa':")
print(setosa.head(20))

Selected column 'sepal_length':
0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepalLength, Length: 147, dtype: float64
Selected columns 'sepalLength' and 'sepalWidth':
     sepalLength  sepalWidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[147 rows x 2 columns]
Rows with TargetFeature 'Iris-setosa':
    sepalLength  sepalWidth  petalLength  petalWidth TargetFeature
0           5.1         3.5          1.4         0.2   Iris-setosa
1           4.9         3.0          1.4         0.2   Iris-setosa
2           4.7         3.2          1.3         0.2   Iris-setosa
3           4.6         3.1          1.5         0.2   Iris-setosa
4           5.0         3.6          1.4         0.2   Iris-setosa
5           5.4         3.9          1.7         0.4   Iris-setosa
6           4.6         3.4          1.4         0.3   Iris-setosa
7           5.0         3.4          1.5         0.2   Iris-setosa
8           4.4         2.9          1.4         0.2   Iris-setosa
9           4.9         3.1          1.5         0.1   Iris-setosa
10          5.4         3.7          1.5         0.2   Iris-setosa
11          4.8         3.4          1.6         0.2   Iris-setosa
12          4.8         3.0          1.4         0.1   Iris-setosa
13          4.3         3.0          1.1         0.1   Iris-setosa
14          5.8         4.0          1.2         0.2   Iris-setosa
15          5.7         4.4          1.5         0.4   Iris-setosa
16          5.4         3.9          1.3         0.4   Iris-setosa
17          5.1         3.5          1.4         0.3   Iris-setosa
18          5.7         3.8          1.7         0.3   Iris-setosa
19          5.1         3.8          1.5         0.3   Iris-setosa